body {
	font-family: 'JetBrains Mono', monospace;
	margin: 0;
	padding: 0;
	background-color: #000000;
}

header {
	background-color: #000000;
	color: #fff;
	padding: 1rem 0;
	text-align: center;
}

main {
	padding: 2rem;
}

article {
	background-color: #ffffff;
	padding: 1rem;
	margin-bottom: 1rem;
	border-radius: 5px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.date {
	color: #000000;
	font-size: 0.9rem;
}

footer {
	background-color: #000000;
	color: #ffffff;
	text-align: center;
	padding: 1rem 0;
	position: fixed;
	width: 100%;
	bottom: 0;
}